.activity {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.4rem;

  &__date,
  &__username {
    color: var(--color-primary);
    font-weight: bold;
  }

  &__date {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 115%;
      left: 4rem;
      width: 0.2rem;
      height: 4rem;
      background-color: var(--color-gray);
    }
  }

  &__avatar {
    background-color: var(--color-gray);
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin: 0 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
