.input {
  &__wrapper {
  }

  &__label {
  }

  &__field {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-light);
    border-radius: 0.5rem;
    padding: 1rem 2rem;

    input {
      border: none;
      outline: none;
    }
  }
}
