.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  $bg-color: var(--color-primary);
  background-color: rgba(#000000, 0.6);

  &__icon {
    width: 4rem;
    height: 4rem;

    animation: spin 1.5s forwards infinite;

    path,
    elipse,
    circle {
      fill: var(--color-primary);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
