.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10rem;
  z-index: 2;

  &__wrapper {
    width: calc(100vw - 25rem);
    margin-left: 25rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input__wrapper {
    margin-right: 2rem;
  }
}
