:root {
  --color-primary: #242544;
  --color-gray: #707070;
  --color-gray-light: #a3a5b0;
  --color-white: #ffffff;
  --color-background: #f8f7ff;
  --color-highlight: #ff787f;

  --color-green: #6ada00;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  @import url("https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap");
}

body {
  font-family: Nunito, sans-serif;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1190px;
  margin: 0 auto;

  &--small {
    margin: 0 auto;
    max-width: 35rem;
    padding: 1rem;
    // background-color: grey;
  }
}

ul {
  li {
    list-style: none;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
}
